/**
 * @license
 * MyFonts Webfont Build ID 3261629, 2016-08-03T23:48:43-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: BenguiatStd-BoldCondensed by ITC
 * URL: http://www.myfonts.com/fonts/itc/benguiat/std-condensed-bold/
 * Copyright: Font software Copyright 1992 Adobe Systems Incorporated. Typeface designs Copyright 2005 International Typeface Corporation. All rights reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3261629
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/31c4bd");*/

@font-face {
  font-family: 'StrangerFont-Condensed';
  src: url('../fonts/strangerFont.eot');
  src: url('../fonts/strangerFont.eot?#iefix') format('embedded-opentype'),url('../fonts/strangerFont.woff2') format('woff2'),url('../fonts/strangerFont.woff') format('woff'),url('../fonts/strangerFont.ttf') format('truetype');
}